{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center text-info mt-3">Add Category Details</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3 ">
  <label class="form-label">Name</label>
  <input type="text" class="form-control" name="n" placeholder="enter the category name">
</div>

    <div class="mb-3">
  <label class="form-label">Image</label>
  <input type="file" class="form-control" name="i">
</div>

        <div class="mb-3">
  <label class="form-label">Description</label>
            <textarea class="form-label" name="d" >write category description</textarea>
</div>


   <div class="mb-3">
  <input type="submit" class="form-control">
</div>

</form>
{% endblock %}
