{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5 p-3"   style="margin-bottom:100px;">
  <div class="row">
    <h2 class="text-center text-warning">Shopping Cart</h2>
    <div class="col-7 p-5">
      <table  class="table table-bordered  border-1 border-dark shadow text-light bg-success">

        <tr>

          <th colspan="6" class="text-center fs-5 text-dark ">Cart Items</th>
        </tr>

        {% for i in cart %}
        <tr>
          <td><img src="{{i.product.image.url}}" height="100px" width="100px"></td>
          <td>{{i.product.name}}</td>
          <td>unit Price:{{i.product.price}}<br>
              quantity:{{i.quantity}}</td>
          <td>subtotal:{{i.subtotal}}</td>
          <td class="pt-3">
            {% if i.product.stock > 0 %}
            <a href="{% url 'cart:addtocart' i.product.id %}"><i class="fa-solid fa-circle-plus fs-5 text-light mx-1"></i></a>
            <a href="{% url 'cart:cartremove' i.product.id %}"><i class="fa-solid fa-circle-minus fs-5 text-light mx-1"></i></a>
            <a href="{% url 'cart:cartdelete' i.product.id %}"><i class="fa-solid fa-trash-can fs-5 text-light mx-1"></i></a>
            {% else %}
             <a href="{% url 'cart:cartremove' i.product.id %}"><i class="fa-solid fa-circle-minus fs-5 text-light mx-1"></i></a>
            <a href="{% url 'cart:cartdelete' i.product.id %}"><i class="fa-solid fa-trash-can fs-5 text-light mx-1"></i></a>
            {% endif %}

          </td>
        </tr>
        {% endfor %}

      </table></div>


    <div class="col-4 p-5">

      <table class="table table-bordered border border-1  border-dark  shadow  text-light bg-success fs-4" >

        <tr ><th colspan="4" class="text-center fs-5 text-dark ">Check Out</th></tr>
<tr class="text-center">

  <td class="text-danger p-4"><b>Total price:{{total}}</b></td>
</tr>
      </table>
      <div class="d-flex justify-content-between  fw-bold mt-5">
      <a href="{% url 'cart:orderform' %}"  class="btn btn-secondary">ORDER NOW</a>
      <a href="{% url 'shop:categories' %}"  class="btn btn-secondary">CONTINUE SHOPPING</a>
    </div>




  </div>




</div>
     {% endblock %}