{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5" style="margin-bottom:100px;">
    <div class="row text-center">
        <h4 class="text-center text-light mb-3">Name of the Customer:<i class="text-capitalize textdecoration-underline">{{user.username}}</h4>
        {% for i in orders %}
        <div class="card mb-3 mx-auto border border-2 border-dark shadow" style="max-width:800px;">

            <div class="row g-o">
                <div class="col-md-4">
                    <img src="{{i.product.image.url}}"  class="img-fluid rounded-start"   alt="...">

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text" >This is a wilder card</p>
                        <p class="card-text"><small class="text-muted">Last updated</small></p>
                    </div>
                </div>
            </div>
        </div>




    </div>



</div>
<h2>orderview</h2>
{% endcontent%}